# node_modules klasörleri
client/node_modules/
server/node_modules/

# build klasörleri
build/
dist/

# environment files
*.env

# log dosyaları
*.log

# VSCode config
.vscode/

# OS dosyaları
.DS_Store
Thumbs.db
